.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #00CED1;
    color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 12px;
}