.wrapper{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #00CED1;
    border-radius: 8px;
    width: 250px;    
    margin-bottom: 20px;
}
.error{
    color:red;
    font-size: 12px;
  
}
.form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap:24px;  
}

.button {
    padding: 8px 8px;
    border-radius: 50px;
    background-color: #00CED1;
    color: white;
    border: none;
    cursor: pointer;
}

.button:focus,
.button:hover {
  background-color: #008080;
}

.label{
    gap:5px;
    display: flex;
    flex-direction: column;
    & span {
      font-weight: bold;
    }
}
.input{
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #00CED1;
    box-shadow: 2px 2px 2px 2px rgb(175, 173, 173);
}