.wrapper {
    display: flex;
    flex-direction: row;
    margin-right: 24px;
    gap: 24px;
    color: #696969;
}

.title {
    font-weight: bold;
}

.button {
    color: #696969;
    border-radius: 50px;
    border: none;
    background-color: #FFFAF0;
}